/* STYLING REUSABLE COMPONENTS */
.btn {
    padding: 1rem 2rem;
    /* background-color: var(--main-gray-faded-color); */
    font-size: inherit;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    cursor: pointer;
}

.primary-btn {
    font-weight: 600;
    color: var(--main-color);
    background-color: var(--main-gray-scale-3);
}

.primary-btn:hover {
    background-color: var(--main-color);
    color: var(--main-light-color);
}

.secondary-btn {
    background-color: var(--main-color);
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999999999999999;
}

.overlay::-webkit-scrollbar {
    width: 0;
}

.status {
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-size: 1.4rem;
    color: var(--main-color);
    gap: 1rem;
}

.statu-progress {
    background-color: var(--main-gray-scale-1);
}

/* STYLING THE SEARCH BAR */
.search-bar {
    background-color: var(--main-gray-scale-2);
    padding: 0 1rem;
    height: 4rem;
    /* border: 1px solid var(--main-gray-scale-2); */
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.search-bar input {
    background: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: inherit;
    color: inherit;
}

.search-bar input:focus {
    outline: none;
}