/* STYLING DASHBOARD CALENDAR */
.dark-mode {
    --main-color: #4361ee;
    --main-secondary-color: #99aaf5;
    --main-tertiay-color: #00b4d8;
    --main-gray-color: #1c110a;
    --main-gray-faded-color: #080914;
    --main-gray-scale-1: #0f192e;
    --main-gray-scale-2: #35012c;
    --main-gray-scale-3: #002137;
    --main-light-color: #150620;
    --main-warning-color: #d00000;
    --main-success-color: #fcca46;
    --main-primary-text: #ffffff;
    --main-secondary-text: #e5ebff;
    --main-text-color: #b3b6c4;
    --main-text-faded: #dddddd;
}

.calendar-container {
    background-color: var(--main-light-color);
    border-top: 1px solid var(--main-gray-scale-2);
    margin-top: 3rem;
}

.calendar-container header {
    background-color: var(--main-light-color);
    border-bottom: 1px solid var(--main-gray-scale-2);
    padding: 2rem;
    color: var(--main-primary-text);
    font-weight: 500;
    margin-bottom: 2rem;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    gap: 3rem;
    align-items: center;
}

.calendar-days .day {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.calendar-days .day-num {
    font-weight: 500;
    color: var(--main-primary-text);
}

.calendar-days .week-day {
    font-size: 1.4rem;
}

.calendar-days .current {
    color: var(--main-color) !important;
}

.current .day-num {
    color: var(--main-color) !important;
    font-weight: 600;
}

.calendar-tasks {
    background-color: var(--main-light-color);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 5rem);
    gap: 1rem;
    padding: 2rem;
    background-image:
        linear-gradient(to right, var(--main-gray-scale-3) 1px, transparent 1px),
        linear-gradient(to bottom, var(--main-gray-scale-3) 1px, transparent 1px);
    background-size: 70px 65px;
    background-size: calc(100% / 15) calc(100% / 12);
    /* Tamanho dos quadrados */

    background-position: center;
    overflow-x: hidden;
    /* Tamanho dos quadrados */
}


.calendar-tasks div {
    border: 1px solid var(--main-gray-scale-2);
    width: 100%;
    height: auto;

}

.calendar-task {
    grid-column: 2 /span 7;
    grid-row: 3;
    background-color: #abc;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1rem 2rem 0rem rgba(0, 0, 0, 0.123);
    width: 30rem !important;

}

/* STYLING ESTERNAL CALENDAR */
.calendar-container button {
    background-color: var(--main-gray-scale-3) !important;
    border: 0 !important;
    color: var(--main-primary-text) !important;
}

.calendar-container button.fc-button-active {
    background-color: var(--main-color) !important;
}


.custom-event-class {
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc .fc-toolbar-title {
    color: var(--main-primary-text);
}

.fc .fc-daygrid-day {
    border: 1px solid var(--main-gray-scale-1);
}

.fc .fc-daygrid-event {
    padding: 10px;
    border-radius: 0;
}

/* Estilo geral dos botões */
.fc-button {
    background-color: var(--main-secondary-color);
    color: var(--main-light-color);
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.fc-button:first-child {
    margin-left: 2rem;

}

tr,
th,
table,
thead,
colgroup,
td,
tbody {
    border: 1px solid var(--main-gray-scale-3) !important;
}

.fc-button:last-child {
    margin-right: 2rem;
}

/* Estilo para os botões principais (Today, etc.) */
.fc-button-primary {
    background-color: var(--main-color);
}

Estilo quando o botão está ativo .fc-button-active {
    background-color: var(--main-tertiary-color);
}

/* Estilo dos botões de navegação (anterior e próximo) */
.fc-prev-button,
.fc-next-button {
    background-color: var(--main-secondary-color);
}

/* Estilo do botão "Today" */
.fc-today-button {
    background-color: var(--main-warning-color);
    color: var(--main-primary-text);
}

/* Hover state */
.fc-button:hover {
    background-color: var(--main-color);
}

/* Estilo do grupo de botões (margens entre os botões) */
.fc-button-group>.fc-button {
    margin-right: 5px;
}

.fc-button-group>.fc-button:last-child {
    margin-right: 0;
}