@import url('./styles/styles.tasks.css');
@import url('./styles/styles.reusabale.css');
@import url('./styles/styles.dashboard.css');
@import url('./styles/styles.projects.css');
@import url('./styles/styles.app.css');
@import url('./styles/styles.calendar.css');


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #4a4dfc;
  --main-secondary-color: #0077b6;
  --main-tertiay-color: #00b4d8;
  --main-gray-color: #e0e1dd;
  --main-gray-faded-color: #dff8fd;
  --main-gray-scale-1: #f8f9fa;
  --main-gray-scale-2: #ebebeb;
  --main-gray-scale-3: #dee2e6;
  --main-light-color: #ffffff;
  --main-warning-color: #d00000;
  --main-success-color: #fcca46;
  --main-primary-text: #0d1b2a;
  --main-secondary-text: #1b263b;
  --main-text-color: #616161;
  --main-text-faded: #dddddd;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--main-text-color);
  background-color: var(--main-gray-faded-color);
  position: relative;
}