@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #4a4dfc;
  --main-secondary-color: #0077b6;
  --main-tertiay-color: #00b4d8;
  --main-gray-color: #e0e1dd;
  --main-gray-faded-color: #dff8fd;
  --main-gray-scale-1: #f8f9fa;
  --main-gray-scale-2: #ebebeb;
  --main-gray-scale-3: #dee2e6;
  --main-light-color: #ffffff;
  --main-warning-color: #d00000;
  --main-success-color: #fcca46;
  --main-primary-text: #0d1b2a;
  --main-secondary-text: #1b263b;
  --main-text-color: #616161;
  --main-text-faded: #dddddd;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--main-text-color);
  background-color: var(--main-gray-faded-color);
  position: relative;
}

.app {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 8rem 1fr;
  height: 100vh;
  overflow: auto;
}

.main-header {
  width: calc(100%-20rem);
  grid-column: 2/-1;
  background-color: var(--main-light-color);
  border-bottom: 1px solid var(--main-gray-color);
  padding: 0 2rem;

}

menu {
  grid-row: 1/-1;
  background-color: var(--main-light-color);
  border-right: 1px solid var(--main-gray-color);
  position: relative;
}

menu .show-side {
  background: none;
  position: absolute;
  right: -1rem;
  top: 6.5rem;
  background-color: var(--main-light-color);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border-right: 1px solid var(--main-gray-color);
  color: inherit;
  z-index: 999999;
}

main {
  grid-row: 2;
  grid-column: 2;
  padding-top: 3rem;
  height: calc(100%);
  overflow: auto;
}

main::-webkit-scrollbar {
  max-width: 8px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #ffff; */
  /* Cor do botão de rolagem */
}

main:hover::-webkit-scrollbar-track {
  background-color: var(--main-gray-scale-1)
}

main:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-gray-scale-3);
}

/* STYLING THE MENU */
.user-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  border-bottom: 1px solid var(--main-gray-color);
  height: 8rem;
  padding: 2rem;

}

.user-box img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem #e7e7e7;
}

.user-box .username {
  font-weight: 500;
  color: var(--main-primary-text);
}

.user-box .user-tag {
  font-size: 1.4rem;
}

.user-box .btn-details {
  background: none;
}

.scroller-menu {
  height: calc(100% - 8rem);
  overflow: auto;
  position: relative;
}

.scroller-menu::-webkit-scrollbar {
  max-width: 8px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #ffff; */
  /* Cor do botão de rolagem */
}



.scroller-menu:hover::-webkit-scrollbar-track {
  background-color: var(--main-gray-scale-1)
}

.scroller-menu:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-gray-scale-3);
}

/* STYLING THE NAV LIST */
.main-nav {
  padding: 2rem 0;
  margin: 0 1rem;
  padding-top: 3rem;
  border-bottom: 1px solid var(--main-gray-color);

}

.menu-tag {
  font-size: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-list a {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--main-primary-text);
}

.nav-list a svg {
  color: var(--main-text-color);

}

.nav-list a:hover:not(a.active) {
  background-color: var(--main-gray-scale-2);
}

.nav-list a.active {
  background-color: var(--main-gray-scale-3);
  color: var(--main-color);
}

.nav-list a.active svg {
  color: var(--main-color);

}

/* STYLING THE TEAM LIST MENU */
.menu-team {
  padding: 1rem;
  margin-top: 2rem;

}

.btn-create-team {
  background-color: var(--main-color);
  color: var(--main-light-color);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
}

.team-list {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--main-gray-color);

}

.team-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-list .team-name {
  color: var(--main-primary-text);
}

.team-list .users-team img {

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--main-light-color);
}

.users-team img {
  margin-left: -10px;
}


/* STYLING THE GERENAL MENU */

.general-menu {
  padding: 2rem 1rem;
}

.general-menu a {
  color: inherit;
  text-decoration: none;
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

/* DARKMODE TOGGLE BTNS */
.container-dark-mode {

  padding: 0.5rem;
  background-color: var(--main-gray-scale-3);
  margin: 1rem;
  border-radius: 5rem;
  display: flex;
  gap: 0.5rem;
  height: 4.5rem;
}

.container-dark-mode button {
  width: 100%;
  font-size: inherit;
  border-radius: 5rem;
  background: none;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container-dark-mode button.active {
  background-color: var(--main-light-color);
  color: var(--main-primary-text);
}


/* STYLING THE MAIN HEADER */
.main-header {
  display: grid;
  grid-template-columns: 3fr 1fr 0.5fr;
  align-items: center;
  gap: 2rem;
}

.search-form {
  padding: 0 1rem;
  width: 100%;
  border: 1px solid var(--main-gray-scale-2);
  border-radius: 10rem;
  color: inherit;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: ;
}

.search-form svg {
  opacity: 0.5;
}

.search-form input {
  width: 90%;
  height: 100%;
  padding: 1rem;
  font-size: inherit;
  color: inherit;
}

.search-form input:focus {
  outline: none;
}

/* STYLING DATEHEADER */
.date-header {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-left: 2px solid var(--main-gray-scale-2);
  border-right: 2px solid var(--main-gray-scale-2);
  padding: 0 2rem;
}

.date-header h4 {
  font-weight: 500;
  font-size: 1.8rem;
}

.date-header span {
  font-size: 1.4rem;
}

/* STYLING NOTIFICATION BOC */
.notification-box {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}


.notification-box button {
  background: none;
  color: inherit;
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--main-gray-scale-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


/* STYLING THE DASHBOARD */
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.section-header h2 {
  color: var(--main-primary-text);
}

/* DASHBOARD PROJECT CARD LIST */
.dashboard-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

.dashboard-project-list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
  padding: 0 2rem;

}

.dashboard-project-list .project-box {
  background-color: var(--main-color);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--main-light-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.dashboard-project-list .project-box h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.dashboard-project-list .project-box span {
  color: var(--main-text-faded);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.project-box .progress-bar {
  background: #ffffff6e;
  width: 100%;
  height: 0.8rem;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
}

.project-box .progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  width: 56%;
}

.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.box-footer .users-team img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff8f;

}

.box-footer span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


/* STYLING DASHBOARD CALENDAR */

.calendar-container {
  /* background-color: var(--main-light-color); */
  height: calc(100vh - 7rem);
  border-top: 1px solid var(--main-gray-scale-2);
}

.calendar-container header {
  background-color: var(--main-light-color);
  border-bottom: 1px solid var(--main-gray-scale-2);
  padding: 2rem;
  color: var(--main-primary-text);
  font-weight: 500;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
}

.calendar-days .day {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.calendar-days .day-num {
  font-weight: 500;
  color: var(--main-primary-text);
}

.calendar-days .week-day {
  font-size: 1.4rem;
}

.calendar-days .current {
  color: var(--main-color) !important;
}

.current .day-num {
  color: var(--main-color) !important;
  font-weight: 600;
}

.calendar-tasks {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(12, 5rem);
  gap: 1rem;
  padding: 2rem;
  background-image:
    linear-gradient(to right, var(--main-gray-scale-2) 1px, transparent 1px),
    linear-gradient(to bottom, var(--main-gray-scale-2) 1px, transparent 1px);
  background-size: 70px 65px;
  background-size: calc(100% / 15) calc(100% / 12);
  /* Tamanho dos quadrados */

  background-position: center;
  overflow-x: hidden;
  /* Tamanho dos quadrados */
}


.calendar-tasks div {
  border: 1px solid var(--main-gray-scale-2);
  width: 100%;
  height: auto;

}

.calendar-task {
  grid-column: 2 /span 7;
  grid-row: 3;
  background-color: #abc;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1rem 2rem 0rem rgba(0, 0, 0, 0.123);
  width: 30rem !important;

}

/* STYLING REUSABLE COMPONENTS */
.btn {
  padding: 1rem 2rem;
  /* background-color: var(--main-gray-faded-color); */
  font-size: inherit;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-btn {
  font-weight: 600;
  color: var(--main-color);
  background-color: var(--main-gray-scale-3);
}

.primary-btn:hover {
  background-color: var(--main-color);
  color: var(--main-light-color);
}

.secondary-btn {
  background-color: var(--main-color);
  color: var(--main-light-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999999999999999999;
}

.status {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statu-progress {
  background-color: #c2eaff;
}

/* STYLING THE PROJECTO FORM */
.project-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

.project-form {
  max-width: 50rem;
  background-color: var(--main-light-color);
  height: 100%;
  /* position: absolute;
  right: 0;
  top: 0;
  z-index: 99999; */
  padding: 1rem 2rem;
  margin-left: auto;
  overflow: auto;
}

.project-form::-webkit-scrollbar {
  max-width: 8px;
  height: 2px;
}


.project-form:hover::-webkit-scrollbar-track {
  background-color: var(--main-gray-scale-1)
}

.project-form:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-gray-scale-3);
}

.form-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-gray-scale-2);
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.btn-close-form {
  background: none;
  color: inherit;
}

.project-form header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-gray-scale-2);
  margin-bottom: 3rem;

}

.project-form h3 {
  color: var(--main-primary-text);
  font-weight: 500;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.form-grid-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

label {
  color: var(--main-primary-text);
}

.project-form input,
.project-form select,
textarea {
  width: 100%;
  padding: 1.2rem 1rem;
  font-size: inherit;
  background: none;
  border: 1px solid var(--main-gray-scale-3);
  border-radius: 0.5rem;
  color: inherit;
  font-family: inherit;
}

.customOption:hover {
  background-color: var(--main-color);
  color: var(--main-light-color);
}

.customOption img {
  border-radius: 50%;
}

.project-form input:focus,
.project-form select:focus,
textarea:focus {
  outline: none;
  background-color: var(--main-gray-scale-2);
}

/* PROJECT GRID */
.project-grid {
  display: grid;
  grid-template-columns: 30rem 1fr;
  padding: 0 2rem;
  height: 100%;
  gap: 2rem;
}


/* STYLING THE PROJECT SEARCH BAR */
.project-search-bar {
  background-color: var(--main-light-color);
  padding: 0 1rem;
  height: 4rem;
  border: 1px solid var(--main-gray-scale-2);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.project-search-bar input {
  background: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: inherit;
}

.project-search-bar input:focus {
  outline: none;
}

/* STYLING THE PROJECT LIST FILTER BAR */
.project-filter-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
  border-bottom: 2px solid var(--main-gray-scale-3);

}

.project-filter-box button {
  background: none;
  font-size: inherit;
  position: relative;
}

.project-filter-box button::after {
  position: absolute;
  content: '';
  bottom: -2.2rem;
  left: 0;
  width: 100%;
  height: 2px;
}

.project-filter-box .active {
  color: var(--main-primary-text);
  font-weight: 600;
}

.project-filter-box .active::after {
  background-color: var(--main-color);

}

/* STYLING THE LIST CONTAINER */
.project-list-box {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 27.6rem);
}

.project-list-box::-webkit-scrollbar {
  max-width: 8px;
  height: 2px;
}


.project-list-box:hover::-webkit-scrollbar-track {
  background-color: var(--main-gray-scale-1)
}

.project-list-box:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-gray-scale-3);
}

.project-list-box li {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.project-list-box .active {
  background-color: var(--main-gray-scale-3);
  position: relative;
}

.project-list-box .active::after {
  position: absolute;
  content: '';
  left: -0rem;
  width: 0.5rem;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
}

.project-list-box li:hover {
  background-color: var(--main-gray-scale-2);
}

.project-list-box li img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.project-list-box li h4 {
  font-weight: 500;
  color: var(--main-primary-text);
}

.project-list-box li span {
  font-size: 1.4rem;
}

.project-list-box .project-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-list-box .project-content:not(:last-child) {
  border-bottom: 3px solid var(--main-gray-scale-3);
}

/* STYLING THE PROJECT DETAIL */

.project-details {
  background-color: var(--main-light-color);
  border: 1px solid var(--main-gray-scale-3);
  border-radius: 0.5rem;
}

.project-details-header {
  border-bottom: 1px solid var(--main-gray-scale-3);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-details-header h3 {
  padding: 0;
  font-weight: 400;
  color: var(--main-primary-text);
  font-size: 2.4rem;
}

.project-name-detail {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-name-detail img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.project-team-box button {
  background: none;
  color: inherit;
}

/* STYLING THE PROJECT MENU FILTER */
.project-menu-filter {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.project-filter-nav {
  display: flex;
  gap: 2rem;
}

.project-filter-nav ul {
  background-color: var(--main-gray-scale-1);
  border-radius: 0.5rem;
}

.project-filter-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.project-filter-nav li {
  padding: 1.4rem 2rem;
  border-radius: 0.5rem;
}

.project-filter-nav .active {
  background-color: var(--main-color);
  color: var(--main-light-color);
  font-weight: 500;
}

.filter-box {
  display: flex;
  gap: 1rem;
}

.filter-box button {
  background: none;
  color: inherit;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-box button:hover {
  background-color: var(--main-gray-scale-2);
}

/* STYLING THE PROJECT TASKS LIST */

.project-tasks-list {
  border: 1px solid var(--main-gray-scale-3);
  margin: 0 2rem;
  border-radius: 1rem;
}

.task-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 3fr 1fr;
  background-color: var(--main-gray-scale-1);
  border-bottom: 1px solid var(--main-gray-scale-3);

}

.task-list-header span {
  display: inline-block;
  padding: 1rem;
}

.task-list-header span:not(:last-child) {
  border-right: 1px solid var(--main-gray-scale-3);
}

.task-grid-list {
  height: calc(100vh - 33.5rem);
  overflow: scroll;
}

.task-grid-list::-webkit-scrollbar {
  width: 0;
}

.task-grid-list .task-item {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 3fr 1fr;
  border-bottom: 1px solid var(--main-gray-scale-3);
}

.task-grid-list .task-item span {
  display: inline-block;
  padding: 2rem 1rem;
}

.task-grid-list .task-item span:not(:last-child) {
  border-right: 1px solid var(--main-gray-scale-3);

}

.task-grid-list .task-item .center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* STYLING THE PROJECT DETAIL */
.project-detail-container {
  padding: 0 2rem;
  height: calc(100vh - 33.5rem);
  overflow-y: auto;
}

.project-detail-container::-webkit-scrollbar {
  max-width: 8px;
  height: 2px;
}


.project-detail-container:hover::-webkit-scrollbar-track {
  background-color: var(--main-gray-scale-1)
}

.project-detail-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-gray-scale-3);
}

.detail-tag {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.detail-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.detail-box .detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

}

.detail-box .detail {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.detail-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detail-box .detail .icon {
  width: 5rem;
  height: 5rem;
  background-color: var(--main-gray-scale-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: var(--main-color);
}

.detail .content-inf {
  font-weight: 500;
  color: var(--main-primary-text);
  font-size: 1.8rem;
}

/* STYLING THE PROGRESS BAR */
.detail-box .progress-bar {
  width: 100%;
  height: 0.8rem;
  background-color: var(--main-gray-scale-2);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.detail-box .progress {
  width: 46%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
}

.detail-team-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-team-box img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: -1rem;
}

/* STYLING THE DETAIL NOTES FORM */
.add-project-note {
  width: 30rem;
  border: 1px solid var(--main-gray-scale-3);
  height: 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
}

.add-project-note input {
  background: none;
  width: 100%;
  padding: 1rem;
  font-size: inherit;
}

.add-project-note input:focus {
  outline: none;

}

.add-project-note button {
  width: 4rem;
  background-color: var(--main-color);
  color: var(--main-light-color);
}

/* STYLING THE NOTE LIST */
.note-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-item {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  align-items: center;
  gap: 1rem;
}

.note-item img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.note-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.note-content h4 {
  color: var(--main-primary-text);
  font-weight: 500;
}

.note-item button {
  background: none;
  color: inherit;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
}

.note-item button:hover {
  background: var(--main-gray-scale-2);
  color: inherit;
}