@import url('./styles/styles.tasks.css');
@import url('./styles/styles.reusabale.css');
@import url('./styles/styles.dashboard.css');
@import url('./styles/styles.projects.css');
@import url('./styles/styles.app.css');
@import url('./styles/styles.calendar.css');
@import url('./styles/styles.settings.css');
@import url('./styles/styles.messages.css');
@import url('./styles/styles.team.css');
@import url('./styles/styles.notification.css');
@import url('./styles/styles.login.css');



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.dark-mode {
  --main-color: #4361ee;
  --main-secondary-color: #99aaf5;
  --main-tertiay-color: #00b4d8;
  --main-gray-color: #1c110a;
  --main-gray-faded-color: #080914;
  --main-gray-scale-1: #0f192e;
  --main-gray-scale-2: #35012c;
  --main-gray-scale-3: #002137;
  --main-light-color: #150620;
  --main-warning-color: #d00000;
  --main-success-color: #fcca46;
  --main-primary-text: #ffffff;
  --main-secondary-text: #e5ebff;
  --main-text-color: #b3b6c4;
  --main-text-faded: #dddddd;
}


.light-mode {
  --main-color: #4a4dfc;
  --main-secondary-color: #0077b6;
  --main-tertiay-color: #00b4d8;
  --main-gray-color: #e0e1dd;
  --main-gray-faded-color: #dff8fde3;
  --main-gray-scale-1: #f8f9fa;
  --main-gray-scale-2: #ebebeb;
  --main-gray-scale-3: #dee2e6;
  --main-light-color: #ffffff;
  --main-warning-color: #d00000;
  --main-success-color: #fcca46;
  --main-primary-text: #0d1b2a;
  --main-secondary-text: #1b263b;
  --main-text-color: #616161;
  --main-text-faded: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--main-text-color);
  background-color: var(--main-gray-faded-color);
  position: relative;
}

*::-webkit-scrollbar {
  width: 0;
}


/* BUTTON SPINNER */
.button-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-spinner .spinner {
  content: '';
  border: 0.3rem solid var(--main-primary-text);
  border-left-color: transparent;
  transition: all 1s;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: rotate linear infinite 1s;
  z-index: 999;
}

.main-spinner {
  width: 100%;
  height: 100%;
  position: relative;
}

.fullpage-spinner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-spinner::after,
.fullpage-spinner::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  border: 0.3rem solid var(--main-text-color);
  border-left-color: transparent;
  transition: all 1s;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  animation: rotate linear infinite 1s;
  z-index: 999;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.list-empty {
  justify-content: center;
  display: flex;
  gap: 1rem;
  padding: 3rem;
  align-items: center;
  margin-bottom: 3rem;
}

/* PAGE NOT FOUND */
.page-not-found {
  max-width: 35rem;
  background-color: var(--main-light-color);
  padding: 2rem;
  margin: 10rem auto;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--main-gray-scale-1);

}

.page404 {
  font-weight: 600;
  font-size: 3.8rem;
  color: var(--main-warning-color);
}

.page-not-found h3 {
  color: var(--main-primary-text);
  margin-bottom: 1rem;
}

.page-not-found button {
  background: none;
  color: var(--main-primary-text);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.page-not-found button:hover {
  background-color: var(--main-gray-scale-1);
}

/* STYLING POPUP */
.popup-container {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999999999999999999999999999999;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.5s;
}

.popup {
  width: 35rem;
  background-color: var(--main-gray-faded-color);
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;
  transition: all 0.5s;

  gap: 2rem;
  border: 1px solid var(--main-gray-scale-3);
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.08);
}

.popup .popup-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
}

.popup button {
  background: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.popup span {
  color: var(--main-primary-text);
  font-size: 1.4rem;
}

.popup button:hover {
  background-color: var(--main-gray-scale-2);
  color: var(--main-primary-text);
}

.popup-success {
  background-color: var(--main-success-color);
}

.popup-error {
  background-color: var(--main-warning-color);
}